<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>{% block title %}Fahion Shop{% endblock %}</title>
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <p>
            [INSERT COOL LOGO HERE]<br>
            <a href="/home">Home</a> 
            <a href="/home">Login</a>
            <a href="/home">About</a>
            </p>
        </div>
        <div id="contentliquid"><div id="content">
        {% block content %}
           <p>Content</p>
       	{% endblock %}
       </div></div>
        <div id="leftcolumn">
        {% block leftmenu %}
        	{% if cat_list %}
    			<ul>
    			{% for cat in cat_list %}
        			<li><a href="/home/{{ cat.name }}/">{{ cat.name }}</a></li>
    			{% endfor %}
    			</ul>
			{% else %}
    			<p>No categories</p>
			{% endif %}
        {% endblock %}
        </div>
        <div id="footer">
            <p>Write some footer stuff</p>
        </div>
    </div>
</body>
</html>
</html>