{% extends "home/index.html" %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'home.views.productListByCategory' title %}">{{ title }}</a>
{% endblock %}

{% block content %}
	{% if prod_list %}
    	
    	{% for prod in prod_list %}
    	<a href="{{prod.id}}">
    	<div id="prodListItem">
        	<h3>{{ prod.name }}</h3>
        	<img src="/{{ prod.image.url }}"/>
        	{{ prod.desc }}
        	<div class="currency">{{ prod.price }}</div>
        	<br style="clear:both">
        </div>
        </a>
    	{% endfor %}
    	
    {% else %}
    	<p>No products in this category</p>
    {% endif %}
{% endblock %}