{% extends "home/index.html" %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'home.views.productListByCategory' title %}">{{ title }}</a>
{% endblock %}

{% block content %}
	{% if prod_list %}
    	
    	{% for prod in prod_list %}
    	<div id="prodListItem">
        	<a href="{{ prod.id }}">{{ prod.name }} </a><br>
        	<img src="/{{ prod.image.url }}" height="100"/>
        	<a href="{{ prod.id }}">Details</a>
        </div>
    	{% endfor %}
    	
    {% else %}
    	<p>No products in this category</p>
    {% endif %}
{% endblock %}