{% extends "home/index.html" %}
{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }} »
    <a href="{% url 'home.views.productListByCategory' cat_name %}">{{ cat_name }}</a> »
    <a>{{ title }}</a>
{% endblock %}

{% block content %}
	<h1> {{ prod.name }} </h1>
	<img src="/{{ prod.image.url }}" height="400"/>
	<p> Details: {{ prod.desc }} </p>
	<p> Price: {{ prod.price }} </p>
	{% if user.is_authenticated %}
		<form action = "addToCart/" method="post" accept-charset="utf-8">
		{{ form.as_p }}
		{%csrf_token %}
		<input type="submit" value="{% trans "Add to cart" %}"/>
		</form>
	{% else %}
		{% trans "Login to buy"%}
	{% endif %}
{% endblock %}
