{% extends "home/index.html" %}

{% load i18n %}

{% block shoppingCart %}
{% endblock %}

{% block content %}
		{% if cartItems %}
		<p>Shopping Cart Overview</p>
	    	{% for order in cartItems%}
        		<div id ="prodListItem">
        			<a>{{ order.product.name }}</a>
        			<a>Size: {{ order.size }}</a>
        			<a>Price: {{ order.product.price }} </a>
        		</div>
    		{% endfor %}
    		
    <form action = "confirm/" method="post" accept-charset="utf-8">
	{%csrf_token %}
	<input type="submit" value="{% trans "Confirm Order" %}"/>
	</form>
    	{% else %}
    	Shopping cart empty
    	{% endif %}
    	

{% endblock %}