{% extends "home/index.html" %}

{% load i18n %}

{% block breadcrumbs %}
    {{ block.super }} » <a href="{% url 'checkout.views.overview' %}">{% trans "Checkout" %}</a>
{% endblock %}

{% block shoppingCart %}
{% endblock %}

{% block content %}
		{% if cartItems %}
		<p>Shopping Cart Overview</p>
	    	{% for order in cartItems%}
        		<div id ="prodListItem">
        			<a>{{ order.product.name }}</a>
        			<a>{% trans "Size:" %} {{ order.size }}</a>
        			<a>{% trans "Price:" %} <span class="currency">{{ order.product.price }} </span></a>
        		</div>
    		{% endfor %}
    		
    <form action = "confirm/" method="post" accept-charset="utf-8">
	{%csrf_token %}
	<input type="submit" value="{% trans "Confirm Order" %}"/>
	</form>
    	{% else %}
    		{% trans "Shopping cart empty" %}
    	{% endif %}
    	

{% endblock %}