body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333;
}

p {
    padding: 10px;
}

h1 {
	padding: 10px;
}


a:link {
	color:#F7D683;
	text-decoration:none;
}

a:visited {
	color:#F7D683;
}

a:hover {
	color:#FFFDC0;
}

#wrapper {
	width: 750px;
	min-width: 750px;
	margin: 0 auto;
	border: 2px solid #457D97;
    height:100%;
	overflow: hidden;
}

#header {
    height: 75px;
    background: #FFFFFF;
    background-image: url(../images/logo.png);
    background-repeat:no-repeat;
    cursor:pointer
}

#topmenu {
	background: #457D97;
	width: 750px;
	height:20px;
}

#usermenu {
	float:right;
	background: #457D97;
	padding: 0 10px;
}



#content {
	float: right;
	width: 620px;
	margin: 0;
	height: 100%;
	padding: 10px 0;
	overflow: hidden;
	min-height: 100%;
}

#leftcolumn {
	float: left;
	margin: 0;
	position:relative;
}


#leftcolumn ul {
 	list-style-type: none; 
	color: #FFFDC0;
    margin: 0;
	padding: 0;
}

 #leftcolumn li { 
 	margin: 0 0 1px 0; 
 }

#leftcolumn a {
	display: block;
	background-color: #457D97;
	color: #F7D683;
	width: 100px;
	padding: 3px 10px;
}

#leftcolumn a:hover {
	background-color: #CCB24C;
	color: #000;
}

#prodListItem {
	background-color: #FFFDC0;
	margin-bottom: 5px;
	padding: 5px;
}

#prodListItem a {
	color: #333;
}

#subListItem a {
	padding-left: 10px;
	color: #457D97;
}

#shoppingCart {
	background-color: #CCB24C;
	margin-top: 20px;
}

#shoppingCart h4 {
	padding-left: 10px;
	margin:0;
	font-size: 15px;
}
#shoppingCart a  {
	color: #FFFDC0;
	padding-left: 10px;
}

#shoppingCart a:link {
	text-decoration: underline;
}

#shoppingCart a:hover {
	background-color: #457D97;
	color: #FFFDC0;
}

#shoppingCart ul {
 	list-style-type: none; 
	color: #333;
    margin: 0;
	padding: 0;
	padding-left: 10px;
}

 #shoppingCart li { 
 	margin: 0 0 1px 0; 
 }